
body {
    box-sizing: border-box;
    margin: 0;
    background-image: url(../assets/imagen-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

h1{
    color: rgb(4, 80, 80);
    font-style: oblique;
}

.subtitulo {
    font-style: oblique;
}

.banner{
    text-align: center;
}

main img {
    width: 80%;
    padding-top: 15px;
    height: 400px;
}

footer {
    color: aliceblue;
    width: 100vw;
    text-align: center;
    box-shadow: rgba(99, 99, 92, 0.459) 0px 0px 4px;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.337254902);
  }

  .copyright {
    margin-bottom: 0;
  }
  
  .icono_footer {
    width: 18px;
  }

.foot_index {
    display: flex;
    list-style: none;
    padding-left: 0%;
    justify-content: center;
    align-items: center;
  }

.capping {
    width: 500px;
    height: 500px;
    padding: 5px;
}

.esmaltado{
    width: 500px;
    height: 500px;
    padding: 5px;

}

.cejas {
    width: 900px;
    height: 500px;
    padding: 5px;
}

.contenedor{
    display: flex;

}

.whatsapp {
    text-align: center;
}

.titlesn h1 {
    text-align: center;

}

.maps {
    text-align: center;
}

