
body {
    box-sizing: border-box;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/imagen-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

.menu {
    box-shadow: rgba(226, 226, 183, 0.4588235294) 0px 0px 20px;
    top: 0;
    width: 100vw;
    background-color: rgba(17, 17, 17, 0.7960784314);
    z-index: 1;
}
h1{
    color: rgb(4, 80, 80);
    font-style: oblique;
}

.subtitulo {
    font-style: oblique;
}

.banner{
    text-align: center;
}

main img {
    width: 80%;
    padding-top: 15px;
    height: 400px;
}

footer {
    color: aliceblue;
    width: 100vw;
    text-align: center;
    box-shadow: rgba(99, 99, 92, 0.459) 0px 0px 4px;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.337254902);
  }

  .copyright {
    margin-bottom: 0;
  }
  
  .icono_footer {
    width: 18px;
  }

.foot_index {
    display: flex;
    list-style: none;
    padding-left: 0%;
    justify-content: center;
    align-items: center;
  }

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.trabajos {
  width: 500px;
  height: 500px;
  margin: 5px;
}

@media (max-width: 768px) { 

  .trabajos{ 
    width: 100%;
    margin: 5%;
  }
}


.presentacion1{ 
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: center;
}
.presentacion {
    width: 100vw;
    text-align: center;
    height: 400px;
    width: 400px;
  
  }

.texto-flex {
    text-align: center;
    height: 400px;
    width: 400px;
    justify-content: center;
}

.texto-presentacion {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: auto;
  }

.foto-presentacion {
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
.whatsapp {
    text-align: center;
}

.whatsapp a img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.maps {
    text-align: center;
}

